<nav>
    <ul class="nav nav-pills justify-content-space-evenly">
        <li class="nav-item"><a href="/dogs/<%= user.id %>/favoriteDogs">Your Favorite Dogs</a></li>
        <li class="nav-item"><a href="/dogs/<%= user.id %>">Search Puppies</a></li>
        <li class="nav-item"><a href="/users/<%= user.id %>/view">Your Account Details</a></li>
        <li class="nav-item"><a href="/users/login">Sign Out</a></li>
    </ul>
</nav>
<br>
<% for( let index = 0; index < dogs.length; index++ ) { %>
    <div class="card d-flex flex-column justify-content-center">
        <div class="card-header">
            <h3><%= dogs[index].name %></h3>
        </div>
        <div class="row">
            <div class="card-body">
                <h5 class="card-title"> Dog Details</h5>
                <p class="card-text"><strong>Age:</strong> <%= dogs[index].age %></p>
                <p class="card-text"><strong>Gender:</strong> <%= dogs[index].gender %></p>
                <p class="card-text"><strong>Primary Breed:</strong> <%= dogs[index].breed %></p>
                <p class="card-text"><strong>Size:</strong> <%= dogs[index].size %></p>
                <p class="card-text"><strong>Color:</strong> <%= dogs[index].color %></p>
                <p class="card-text"><strong>Interested Owners:</strong> <%= dogs[index].interestedOwners %></p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Rescue Shelter Details</h5>
                <p class="card-text"><strong>Phone:</strong> <%= dogs[index].phone %></p>
                <p class="card-text"><strong>Email:</strong> <%= dogs[index].email %></p>
                <p class="card-text"><strong>Street:</strong> <%= dogs[index].street %></p>
                <p class="card-text"><strong>City:</strong> <%= dogs[index].city %></p>
                <p class="card-text"><strong>State:</strong> <%= dogs[index].state %></p>
                <p class="card-text"><strong>Postal Code:</strong> <%= dogs[index].postalcode %></p>
                <p class="card-text"><strong>Country:</strong> <%= dogs[index].country %></p>
            </div>
        </div>
        <form action="/dogs/<%= user.id %>/<%= dogs[index].id %>?_method=DELETE" method="POST">
            <input type="submit" value="Remove Dog from List" class="btn btn-info">
        </form>
        <br>
    </div>
    <br>
<% } %>
