<nav>
    <ul class="nav nav-pills justify-content-space-evenly">
        <li class="nav-item"><a href="/dogs/<%= user.id %>/favoriteDogs">Your Favorite Dogs</a></li>
        <li class="nav-item"><a href="/dogs/<%= user.id %>">Search Puppies</a></li>
        <li class="nav-item"><a href="/users/<%= user.id %>/view">Your Account Details</a></li>
        <li class="nav-item"><a href="/users/login">Sign Out</a></li>
    </ul>
</nav>
<h2>Edit Account Details</h2>
<form action="/users/<%= user.id %>?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= user.name %>"> <br>
    <label for="zipCode">Enter your ZipCode</label>
    <input type="text" name="zipCode" id="zipCode" value="<%= user.zipCode %>"> <br>
    <input type="submit" value="Update">
</form>
