<!-- NAV BAR -->
<nav>
    <ul class="nav nav-pills justify-content-space-evenly">
        <li class="nav-item"><a href="/dogs/<%= user.id %>/favoriteDogs">Your Favorite Dogs</a></li>
        <li class="nav-item"><a href="/dogs/<%= user.id %>">Search Puppies</a></li>
        <li class="nav-item"><a href="/users/<%= user.id %>/view">Your Account Details</a></li>
        <li class="nav-item"><a href="/users/login">Sign Out</a></li>
    </ul>
</nav>
<br>
<!-- account details section -->
<h4>Account Details</h4>
<br>
<div id="account-details">
    <div class="container">   
        <div class="row">
            <!-- shows name, zipcode, and username data -->
            <div class="col">
                <p><strong>Name:</strong> <%= user.name %> </p>
                <p><strong>ZipCode:</strong> <%= user.zipCode %> </p>
                <p><strong>Username:</strong> <%= user.username %> </p>
            </div>
            <!-- shows list of favorite dogs -->
            <div class="col">
                <p><strong>Favored Dogs</strong></p>
                <ul>
                    <% for( let index = 0; index < user.favoriteDogs.length; index++ ) { %>
                        <li><a href="#"><%= user.favoriteDogs[index].name %> </a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <!-- this line keeps both rows aligned -->
        <div class="w-100"></div>
        <br>
        <!-- buttons to edit & delete account -->
        <div class="row">
            <div class="col">
                <a href="/users/<%= user.id %>/edit" class="btn btn-secondary"> Edit My Details</a>
            </div>
            <div class="col">
                <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete My Account" class="btn btn-danger">
                </form>
            </div>
        </div>
        <br>
    </div>
</div>
